
<div class="user_div">
<h2 style="text-align:center"><%= @user.username %></h3>
<h4><%= @user.email %></h4>
<%= link_to "Edit!", edit_user_path %>
<%= link_to "Delete!", user_path, method: "delete" %>
</div>


<div class="user_questions_div">
<h3>Questions asked</h3>
<% @user.questions.each do |question| %>
<h3><%= link_to question.title, question_path %></h3>
<% end %>
</div>

<div class="user_answers_div">
<h3>Questions Upon Which The User has Contributed an Answer</h3>
<% @user.answers.each do |answer| %>
<h3><%= link_to answer.question.title, question_path %>

<% end %>
</div>

