<%= @user.username %>
<%= @user.email %>
<%= link_to "Edit!", edit_user_path %>
<%= link_to "Delete User!", user_path, method: "delete" %>
<p><%= render @user.questions %></p>
<p><%= render @user.answers %></p>
