<h4><%= answer.user.username %></h4>
<h5><%= answer.created_at %></h5>
<p><%= answer.content %></p>
<div class="answer-comments">
  <%= render answer.comments %>
</div>
<%= render '/votes/form', vote: Vote.new, votable_object: answer %>
<%= link_to "Add A Comment", new_comment_path(answer_id: answer.id) %>