<!DOCTYPE html>
<html>
<head>
  <title>Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= flash[:warn] %>
    <%= link_to "Home", root_path %>
    <% unless current_user %>
      <div><%= link_to "Login", '/login' %></div>
      <div><%= link_to "Sign Up!", '/signup' %></div>
      <% else %>
      <div>
        <%= link_to "Logout", '/logout' %>
      </div>
    <% end %>
  </div>
  <%= yield %>

</body>
</html>
