<!DOCTYPE html>
<html>
<head>
  <title>Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div><%= render 'layouts/header' %></div>
    <main>
      <h1 class="centered" id="title">Welcome to OvrFlo</h1>
      <%= flash[:warn] %>
    </main>
    <%= yield %>
  </div>
</body>
</html>
